anyio==4.7.0
asyncio==3.4.3
attrs==24.3.0
beautifulsoup4==4.12.3
blinker==1.9.0
bs4==0.0.2
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
construct==2.10.68
construct-typing==0.5.6
curl_cffi==0.7.4
Flask==3.1.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.6
itsdangerous==2.2.0
Jinja2==3.1.5
jsonalias==0.1.1
MarkupSafe==3.0.2
numpy==2.2.1
outcome==1.3.0.post0
packaging==24.2
pandas==2.2.3
parse==1.20.2
pillow==11.0.0
pycparser==2.22
pyparsing==3.1.1
pypng==0.20220715.0
PyQRCode==1.2.1
PySocks==1.7.1
pysolana==0.2.2
pyTelegramBotAPI==4.25.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-telegram-bot==21.9
pytz==2024.2
qrcode==8.0
requests==2.32.3
schedule==1.2.2
selenium==4.27.1
setuptools==75.6.0
six==1.17.0
sniffio==1.3.1
solana==0.36.1
solders==0.23.0
sortedcontainers==2.4.0
soupsieve==2.5
telebot==0.0.5
telegram==0.0.1
trio==0.27.0
trio-websocket==0.11.1
typing_extensions==4.12.2
tzdata==2024.2
undetected-chromedriver==3.5.5
urllib3==2.2.1
webdriver-manager==4.0.2
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.1.3
wheel==0.45.1
wsproto==1.2.0

